@import url('https://fonts.googleapis.com/css2?family=Manjari&display=swap');

@font-face {
    font-family: Manjari;
    font-weight: normal;
    src: url('/assets/fonts/Manjari/Manjari-Regular.ttf');
}

@font-face {
    font-family: Manjari;
    font-weight: bold;
    src: url('/assets/fonts/Manjari/Manjari-Bold.ttf');
}

@font-face {
    font-family: Manjari;
    font-weight: 100,200,300;
    src: url('/assets/fonts/Manjari/Manjari-Thin.ttf');
}

.text-manjari {
    font-family: Manjari, sans-serif;
}